{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 125,
    "tabWidth": 4,
    "bracketSameLine": true,
    "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
    "htmlWhitespaceSensitivity": "ignore"
}
