---
import Layout from '../layouts/BaseLayout.astro';
import HeroSection from '../sections/HomeHero.astro';
import ServicesSection from '../sections/HomeServices.astro';
import PortfolioSection from '../sections/HomePortfolio.astro';
import TestimoniSection from '../sections/HomeTestimoni.astro';
import Contact from '../sections/Contact.astro';
---

<Layout>
    <main>
        <HeroSection />
        <ServicesSection />
        <PortfolioSection />
        <TestimoniSection />
        <Contact />
    </main>
</Layout>
